/* .container {
    display: flex;
    margin: 12px 93.6px;
}

.Search {
    width: 200px;
    border: 1px solid #ccc;
    height: 380px;
    background-color: blanchedalmond;
    margin-right: 20px;
    margin-top: 24px;
    border-radius: 5px;
}

.input {
    margin: 5px 5px 5px 5px;
    width: auto;
}

.text {
    font-size: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: center;
    margin: 5px 0px 5px 0px;
}

@media only screen and (max-width: 768px) {
    .container {
        display: block;
    }
} */

.container {
    margin: 12px 20px;
}

.Search {
    width: 100%;
    /* max-width: 400px; */
    border: 1px solid #ccc;
    height: auto;
    background-color: #d5d5c3;
    margin-top: 24px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.input {
    margin: 12px 5px 5px 5px;
    height: 30px;
    max-width: 400px;
}

.button {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

@media only screen and (max-width: 768px) {
    .Search {
        display: block;
    }
}