.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background-color: #fff;
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 70px;
}

.logo {
    height: 70px;
}

.left_nav_links {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-start;
}

.right_nav_links {
    display: flex;
    align-items: center;
}

.right_nav_links div {
    display: flex;
    align-items: center;
}

.link,
.search {
    font-size: 22px;
    color: #222;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 5px;
    transition: color 0.2s ease-in-out;
}

.link:hover,
.search:hover {
    color: #ee4d2d;
}

.cart_container {
    font-size: 24px;
    margin-left: 20px;
    /* border-right: 1px solid black; */
}

.cart_icon {
    color: #222;
    margin-right: 10px;
    transition: color 0.2s ease-in-out;
}

.cart_icon:hover {
    color: #ee4d2d;
}

.home {
    font-size: 15px;
    color: black;
    position: relative;
    font-weight: 500;
    display: inline-block;
    margin-left: 20px;
    text-decoration: none;
}

.home:hover {
    color: #ee4d2d;
}

@media only screen and (max-width: 768px) {
    .header_container {
        height: auto;
        padding: 0 0px;
    }

    .left_nav_links {
        justify-content: center;
    }

    .logo {
        width: 70px;

    }

    .right_nav_links {
        flex-direction: column;
        align-items: center;
    }

    .cart_icon {
        margin-left: 5px;
    }

    .link {
        margin: 5px;
    }

    .home {
        font-size: 15px;
        margin-left: 5px;
        margin-top: 5px;
    }

    .cart_container {
        font-size: 24px;
        margin-left: 0px;
    }
}