.container {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 600px) {
  .container {
    flex-direction: row;
  }
  .left {
    margin: 20px 20px 20px 130px;
    width: 40%;
  }
  .right {
    margin: 20px 130px 20px 20px;
    width: 40%;
  }
}
.col {
  width: 100%;
}

.cart_item_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}
.line {
  border-bottom: 1px solid #ccc;
}
.product_name {
  font-weight: bold;
  width: 100%;
  max-width: 200px;
  margin-bottom: 5px;
}
.quantity {
  width: 50px;
  height: 30px;
}
.price {
  color: black;
  font-size: 14px;
}
.cart_info {
  border-bottom: 1px solid #ccc;
  width: 100%;
  margin: 20px 0;
}
.total {
  font-weight: bold;
  color: rgb(255, 72, 0);
}
